@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=ZCOOL+XiaoWei&display=swap');
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #17202A;
}
